
.navbar {
	font-family: 'Finger Paint', cursive;
}

.nav-link:hover {
	background-color: #3366FF;
	color: white;
}

.nav-item {
	padding: 20px;
}

.container {
	height: 100vh;
}

#main-contents {
	background: transparent;
	font-weight: bold;
	width: 100%;
	margin-top: 2%;
}



#home-content-title, .description {
	font-family: 'Handlee', cursive;
}


#carousel-main {
	width: 100%;
	height: 80vh;
}

.carousel-item {
	width: 100%;
	height: 80vh;
}

.carousel-item img {
	width: 100%;
	height: 100%;
}

.sidenav {
	width: 100;
	font-family: 'Handlee', cursive;
	position: fixed;
}

footer {

	/*position: absolute;
	bottom: 0%;*/
	background-color: #006400;
	bottom: 0%;
}



h4 {
	font-weight: bold;
}

#landing-bg-img {
	width: 100%;
}


/*contact page styles*/

/*#cluster-1, #cluster-2, #cluster-3 {
	height: 30%;
}*/

/*#cluster-1 {
	width: 100%
}*/
.card{
	width: 100%;
	height: 100%;
}

.card-title {
	color: green;
}


#contact-form .card, span, h5 {
	font-weight: bold;
}
#contact-container {
	height: 100vh;
	margin-top: 0 auto;
}

#contact-us {
	font-family: 'Finger Paint', cursive;
	font-size: 3rem;
	color: green;
}


/*about page styles*/
#about-container {
	height: 100vh;
}

.header-about{
	font-family: 'Finger Paint', cursive;
	font-weight: bold; 

}

#mission{
	height: 100%;
	border-right: 3px solid green;
}

#vision {
	border-left: 3px solid green;
}

.article-header {
	font-family: 'Handlee', cursive;
}

.paragraph img {
	width: 100%;
	height: 100%;
}

.introduction {
	height: 100%;

}

.lead {
	font-family: 'Handlee', cursive;
	font-size: 28pxs;
}

/*responsive media*/

/* Landscape phone to landscape tablet */
@media (max-width: 979px) 
{ 
	#main-content {
	  	width: 100%;
	  	height:100%;
  }
#article2, #article4 {
	display: flex;
    flex-direction: row-reverse; 
}


}