.navbar {
	font-family: 'Finger Paint', cursive;
	color: white;
}

.nav-link:hover {
	background-color: #3366FF;
}

.container {
	height: 100vh;
}

.jumbotron {
	font-family: 'Handlee', cursive;
	font-weight: bold;
	width: 100%;
	margin-top: 2%;
}

#carousel-main {
	width: 100%;
}

.carousel-item {
	width: 100%;
	height: 50vh;
}

.carousel-item img {
	width: 100%;
	height: 100%;
}

/*.row {
	padding: 0 2%;
}
*/
.sidenav {
	width: 100;
	font-family: 'Handlee', cursive;
}

footer {
	width: 100%;
	background-color: #006400;
}

.card {
	font-family: 'Handlee', cursive;
}

h4 {
	font-weight: bold;
}
/*
@media (min-width: 768px) {
  .navbar-nav {
    width: 100%;
    text-align: center;
  }
  .navbar-nav > li {
    float: none;
    display: inline-block;
  }
  .navbar-nav > li.navbar-right {
    float: right !important;
  }
}*/

/*landing page*/
/*#landing-container {
	width: 100%;
	height: 100vh;
}*/

#landing-bg-img {
	width: 100%;
}